<a href="https://colab.research.google.com/github/loft11/hello-world/blob/main/Python_basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**ЦИФРЫ, СТРОКИ, ОПЕРАТОРЫ**

In [ ]:
print(1,2,3,4,5,sep= ' - ')

1 - 2 - 3 - 4 - 5

In [ ]:
print(1,2,3,4,5,sep=' пробел ')

1 пробел 2 пробел 3 пробел 4 пробел 5

In [ ]:
print('Мой день рождения 5 февраля!', end=' ')
print('А Ксюшин день рождения 8 апреля')

Мой день рождения 5 февраля! А Ксюшин день рождения 8 апреля

In [ ]:
print('Мой день рождения 5 февраля!', end='\n')
print('А Ксюшин день рождения 8 апреля')

Мой день рождения 5 февраля!
А Ксюшин день рождения 8 апреля

In [ ]:
print(10 + 3)                             # Сложение
print(10 - 3)                             # Вычитание
print(10 * 3)                             # Умножение
print(10 / 3)                             # Деление
print(10 ** 3)                            # Возведение в степень
print(10 // 3)                            # Целочисленное деление (10 = 3 + 3 + 3 + 1 = 3 * 3 + 1)
print(10 % 3)                             # Остаток от деления (10 = 3 + 3 + 3 + 1 = 3 * 3 + 1)

13
7
30
3.3333333333333335
1000
3
1

**написать в новой ячейке код, который будет выводить на экран такой результат:**

    10 + 3 = 13
    10 - 3 = 7
    10 * 3 = 30
    10 / 3 = 3.333
    10 ** 3 = 1000
    10 // 3 = 3
    10 % 3 = 1

In [ ]:
print('10 + 3 =', 10+3)

10 + 3 = 13

In [ ]:
print('10 - 3 =', 10-3)

10 - 3 = 7

In [ ]:
print('10 * 3 =', 10*3)

10 * 3 = 30

In [ ]:
print('10 / 3 =', 10/3)

10 / 3 = 3.3333333333333335

In [ ]:
print('10 ** 3 =', 10**3)

10 ** 3 = 1000

In [ ]:
print('10 // 3 =', 10//3)

10 // 3 = 3

In [ ]:
print('10 % 3 =', 10%3)

10 % 3 = 1

**Переменные**

In [ ]:
first_number = 9
second_number = 7

print(first_number)
print(second_number)

9
7

In [ ]:
# Код из предыдущего примера, но с заменой всех чисел на переменные
print(first_number + second_number)
print(first_number - second_number)
print(first_number * second_number)
print(first_number / second_number)
print(first_number ** second_number)
print(first_number // second_number)
print(first_number % second_number)

16
2
63
1.2857142857142858
4782969
1
2

#**РАБОТА С УСЛОВИЯМИ**

Только + 🌶️
**Напишите программу, которая считывает три числа и подсчитывает сумму только положительных чисел**

**Формат входных данных**
На вход программе подаются три целых числа.

**Формат выходных данных**
Программа должна вывести одно число – сумму положительных чисел.

In [ ]:
a = int(input())
b = int(input())
c = int(input())
#вводим переменную для подсчета суммы
summa = 0
if a > 0:
  summa = summa + a
if b > 0:
  summa = summa + b
if c > 0:
  summa = summa + c
print(summa)

76
94432
-133
94508

In [ ]:
x = int(input())
if (x > -30 and x <= -2) or (x > 7 and x <= 25):
  print("Принадлежит")
else:
  print("Не принадлежит")

-332
Не принадлежит

Красивое число 🌶️
Назовем число красивым, если оно является четырехзначным и делится нацело на
7
7 или на
17
17. Напишите программу, определяющую, является ли введённое число красивым. Программа должна вывести «YES», если число является красивым, или «NO» в противном случае.

Формат входных данных
На вход программе подаётся натуральное число.

Формат выходных данных
Программа должна вывести текст в соответствии с условием задачи.

In [ ]:
x = int(input())
#условие для 4 начного числа
if (x > 999 and x <= 9999) and (x % 7 == 0 or x % 17 == 0):
  print("YES")
else:
  print("NO")

2057
YES

Существует ли треугольник с такими сторонами

In [ ]:
a = int(input())
b = int(input())
c = int(input())
if ((a + b) > c) and ((a + c) > b) and ((b + c) > a):
  print("YES")
else:
  print("NO")

8
2
4
NO

Определить, високосный ли год
Год високосный, если он кратен 4, но не кратен 100 или если кратен 400

In [ ]:
year = int(input())
if (year % 4 == 0 and not(year % 100 == 0)) or year % 400 == 0:
  print("YES")
else:
  print("NO")

2009
NO

**Ход ладьи**, попадет ли ладья на следующую клетку

In [ ]:
x1, y1 = int(input()), int(input())
x2, y2 = int(input()), int(input())
if x1 == x2  or y1 == y2:
  print("YES")
else:
  print("NO")

4
4
5
5
NO

**Ход короля**

In [ ]:
x1, y1 = int(input()), int(input())
x2, y2 = int(input()), int(input())
if (-1 <= x1 - x2 <= 1) and (- 1 <= y1 - y2 <= 1):
  print("YES")
else:
  print("NO")

4
4
5
4
YES

In [ ]:
n = int(input())
k = int(input())
if n > k:
  print("NO")
elif n < k:
  print("YES")
else:
  print("Don't know")

2344
4324
YES

Написать программу, которая определяет тип треугольника по сторонам

In [ ]:
a = int(input())
b = int(input())
c = int(input())
if a == b == c:
  print("Равносторонний")
elif (a == b and b != c) or (a == c and c !=b) or (b == c and c !=a):
  print("Равнобедренный")
elif a != b != c:
  print("Разносторонний")

180
199
700
Разносторонний

Даны три различных целых числа. Напишите программу, которая находит среднее по величине число.

Формат входных данных
На вход программе подаётся три различных целых числа, каждое на отдельной строке.

Формат выходных данных
Программа должна вывести среднее по величине число.

Примечание. Средним по величине называется число, которое будет вторым, если три числа отсортировать в порядке возрастания.

In [ ]:
a = int(input())
b = int(input())
c = int(input())
if (a < b and a > c) or (a < c and a > b):  #b будет большим числом, с будет меньшим числом, наоборот б будет меньшим числом и с будет большим
  print(a)
elif (b < a and b > c) or (b < c and b > a):
  print(b) #a большее число, с меньшее, с большее, а меньшее
else:
  print(c)

10
30
20
20

**Количество дней**
Дан порядковый номер месяца
(1,2,…, 12). Напишите программу, которая выводит на экран количество дней в этом месяце. Принять, что год является невисокосным.

Формат входных данных
На вход программе подаётся одно целое число – порядковый номер месяца.

Формат выходных данных
Программа должна вывести количество дней в этом месяце.

Примечание. Постарайтесь написать программу так, чтобы в ней было не более трех условий.

In [ ]:
year = int(input())
if year == 1 or year == 3 or year == 5 or year == 7 or year == 8 or year == 10 or year == 12:
  print(31)
elif year == 4 or year == 6 or year == 9 or year == 11:
  print(30)
elif year == 2:
  print(28)

12
31

**Церемония взвешивания**
Известен вес боксера-любителя (целое число). Известно, что вес таков, что боксер может быть отнесён к одной из трех весовых категорий:

Легкий вес – до
60
60 кг (невключительно);
Первый полусредний вес – до
64
64 кг (невключительно);
Полусредний вес – до
69
69 кг (невключительно).
Напишите программу, определяющую, в какой категории будет выступать данный боксер.

Формат входных данных
На вход программе подаётся одно целое число.

Формат выходных данных
Программа должна вывести текст – название весовой категории.

In [ ]:
weight = int(input())
if weight < 60:
  print("Легкий вес")
elif weight >= 60 and weight < 64:
  print("Первый полусредний вес")
elif weight >= 64 and weight < 69:
  print("Полусредний вес")

60
Первый полусредний вес

**Самописный калькулятор**🌶️
Напишите программу, которая считывает с клавиатуры два целых числа и строку. Если эта строка является обозначением одной из четырёх математических операций (+, -, *, /), то выведите результат применения этой операции к введённым ранее числам, в противном случае выведите «Неверная операция» (без кавычек). Если пользователь захочет поделить на ноль, выведите текст «На ноль делить нельзя!» (без кавычек).

Формат входных данных
На вход программе подаются два целых числа и строка, всё на отдельной строке.

Формат выходных данных
Программа должна вывести результат применения операции к введенным числам или соответствующий текст, если операция неверная либо если происходит деление на ноль.

In [ ]:
a = int(input())
b = int(input())
operation = input()
if operation == "+":
  print(a + b)
elif operation == "-":
  print(a - b)
elif operation == "*":
  print(a * b)
elif operation == "/":
    if b == 0 and operation == "/":
      print("На ноль делить нельзя!")
    else:
        print(a / b)
else:
  print("Неверная операция")

20
30
-
-10

**Цветовой микшер** 🌶️
Красный, синий и желтый называются основными цветами, потому что их нельзя получить путем смешения других цветов. При смешивании двух основных цветов получается вторичный цвет:


1.  если смешать красный и синий, то получится фиолетовый;
2.  если смешать красный и желтый, то получится оранжевый
3. если смешать синий и желтый, то получится зеленый


Напишите программу, которая считывает названия двух основных цветов для смешивания.
Если пользователь вводит что-нибудь помимо названий «красный», «синий» или «желтый», то программа должна вывести сообщение об ошибке
В противном случае программа должна вывести название вторичного цвета, который получится в результате.

Формат входных данных
На вход программе подаются две строки, каждая на отдельной строке.

Формат выходных данных
Программа должна вывести полученный цвет смешения либо сообщение «ошибка цвета», если введён был не цвет.

Примечание 1. Если смешать красный и красный, то получится красный и т.д.

In [ ]:
color1 = input()
color2 = input()
if (color1 == "красный" and color2 == "синий") or (color1 == "синий" and color2 == "красный"):
  print("фиолетовый")
elif (color1 == "красный" and color2 == "желтый") or (color1 == "желтый" and color2 == "красный"):
  print("оранжевый")
elif (color1 == "синий" and color2 == "желтый") or (color1 == "желтый" and color2 == "синий"):
  print("зеленый")
elif color1 == "красный" and color1 == color2:
  print("красный")
elif color1 == "синий" and color1 == color2:
  print("синий")
elif color1 == "желтый" and color1 == color2:
  print("желтый")
else:
  print("ошибка цвета")

красный
красный
красный

**Цвета колеса рулетки** 🌶️
На колесе рулетки карманы пронумерованы от 0 до 36.
Ниже приведены цвета карманов:

* карман 0 зеленый;
* для карманов с 1 по 10 -  карманы с нечетным номером имеют красный цвет, карманы с четным номером – черный;
* для карманов с 11 по 18 -  карманы с нечетным номером имеют черный цвет, карманы с четным номером – красный;
* для карманов с 19 по 28 - карманы с нечетным номером имеют красный цвет, карманы с четным номером – черный;
* для карманов с 29 по 36 -  карманы с нечетным номером имеют черный цвет, карманы с четным номером – красный.

Напишите программу, которая считывает номер кармана и показывает, **является ли этот карман зеленым, красным или черным**. Программа должна вывести сообщение об ошибке, если пользователь вводит число, которое лежит вне диапазона от
0 до 36.

Формат входных данных
На вход программе подаётся одно целое число.

Формат выходных данных
Программа должна вывести цвет кармана либо сообщение **«ошибка ввода»**, если введённое число лежит вне диапазона от
0 до 36.

In [ ]:
x = int(input())
if x == 0:
  print("зеленый")
elif 0 < x <= 10:
  if (x % 2) != 0:
    print("красный")
  elif (x % 2) == 0:
    print("черный")
elif 11 <= x <= 18:
  if (x % 2) != 0:
    print("черный")
  elif (x % 2) == 0:
    print("красный")
elif 19 <= x <= 28:
  if (x % 2) != 0:
    print("красный")
  elif (x % 2) == 0:
    print("черный")
elif 29 <= x <= 36:
  if (x % 2) != 0:
    print("черный")
  elif (x % 2) == 0:
    print("красный")
elif x < 0 or x >= 37:
  print("ошибка ввода")

37
ошибка ввода

In [ ]:
a1, b1 = int(input()), int(input())
a2, b2 = int(input()), int(input())
if b1 < a2 or b2 < a1:
  print("пустое множество")
elif b1 == a2:
  print(b1)
elif b2 == a1:
  print(b2)
elif a2 > a1 and b1 < b2:
  print(a1, b1)
elif a2 < a1 and b1 > b2:
  print(a1, b2)
elif a1 >= a2 and b2 >= b1:
  print(a1, b1)
elif a1 <= a2 and b2 <= b1:
  print(a2, b2)

Напишите программу, которая определяет, оканчивается ли год с данным номером на два нуля. Если год оканчивается, то выведите «YES», иначе выведите «NO».

Формат входных данных
На вход программе подаётся натуральное число.

Формат выходных данных
Программа должна вывести текст в соответствии с условием задачи.

In [ ]:
x = int(input())
if (x % 10 == 0) and ((x % 100)//10 == 0):
  print("YES")
else:
  print("NO")

3000
YES

Шахматная доска
Заданы две клетки шахматной доски. Напишите программу, которая определяет, имеют ли указанные клетки один цвет или нет. Если они покрашены в один цвет, то выведите слово «YES», а если в разные цвета, то «NO».

Формат входных данных
На вход программе подаётся четыре числа от
1
1 до
8
8 каждое, задающие номер столбца и номер строки сначала для первой клетки, потом для второй клетки.

In [ ]:
a1 = int(input())
a2 = int(input())
b1 = int(input())
b2 = int(input())
if ((a1 + a2) % 2 ) == ((b1 + b2) % 2):
    print("YES")
else:
    print("NO")

Футбольная команда набирает девочек от 10 до 15 лет включительно. Напишите программу, которая запрашивает возраст и пол претендента, используя обозначение пола буквы m (от male – мужчина) и f (от female – женщина) и определяет подходит ли претендент для вступления в команду или нет. Если претендент подходит, то выведите «YES», иначе выведите «NO».

Формат входных данных
На вход программе подаётся натуральное число – возраст претендента и буква обозначающая пол m (мужчина) или f (женщина).

In [ ]:
age = int(input())
sex = input()
if (age >= 10 and age <= 15) and sex == "f":
  print("YES")
else:
  print("NO")

10
f
YES

***Римские цифры***
Напишите программу, которая считывает целое число и выводит соответствующую ему римскую цифру. Если число находится вне диапазона
1
−
10
1−10, то программа должна вывести текст «ошибка».

В таблице приведены римские цифры для чисел от
1
1 до
10
10.

Число	Римская цифра
1	I
2	II
3	III
4	IV
5	V
6	VI
7	VII
8	VIII
9	IX
10	X

In [ ]:
x = int(input())
if x == 1:
  print("I")
elif x == 2:
  print("II")
elif x == 3:
  print("III")
elif x == 4:
  print("IV")
elif x == 5:
  print("V")
elif x == 6:
  print("VI")
elif x == 7:
  print("VII")
elif x == 8:
  print("VIII")
elif x == 9:
  print("IX")
elif x == 10:
  print("X")
elif x < 1 or x > 10:
  print("ошибка")

YES or NO вот в чем вопрос
Напишите программу, которая принимает на вход число и в зависимости от условий выводит текст «YES», либо «NO».

Условия:

если число нечётное, то вывести «YES»;
если число чётное в диапазоне от 2 до 5 (включительно), то вывести «NO»;
если число чётное в диапазоне от 6 до 20 (включительно), то вывести «YES»;
если число чётное и больше 20, то вывести «NO».
Формат входных данных
На вход программе подаётся натуральное число.

Формат выходных данных
Программа должна вывести текст в соответствии с условием задачи.

In [ ]:
x = int(input())
if x % 2 != 0:
  print("YES")
elif (x % 2 == 0) and (2 <= x < 5):
  print("NO")
elif (x % 2 == 0) and (6 <= x <= 20):
  print("YES")
elif (x % 2 == 0) and x > 20:
  print("NO")

5
YES

Ход слона 🌶️
Даны две различные клетки шахматной доски. Напишите программу, которая определяет, может ли слон попасть с первой клетки на вторую одним ходом. Программа получает на вход четыре числа от 1 до 8 каждое, задающие номер столбца и номер строки сначала для первой клетки, потом для второй клетки. Программа должна вывести «YES», если из первой клетки ходом слона можно попасть во вторую или «NO» в противном случае.

Формат входных данных
На вход программе подаётся четыре числа от 1 до 8.

Формат выходных данных
Программа должна вывести текст в соответствии с условием задачи.

Примечание. Шахматный слон ходит по диагоналям.

In [ ]:
x1, y1 = int(input()), int(input())
x2, y2 = int(input()), int(input())
if (x1 - y1) == (x2 - y2) or (x1 + y1) == (x2 + y2):
  print("YES")
else:
  print("NO")

4
4
5
3
YES

**Ход коня**
Даны две различные клетки шахматной доски. Напишите программу,  которая определяет, может ли конь попасть с первой клетки на вторую одним ходом. Программа получает на вход четыре числа от 1 до 8 каждое, задающие номер столбца и номер строки сначала для первой клетки, потом для второй клетки. Программа должна вывести «YES», если из первой клетки ходом коня можно попасть во вторую или «NO» в противном случае.

Формат входных данных
На вход программе подаётся четыре числа от 1 до 8.

Формат выходных данных
Программа должна вывести текст в соответствии с условием задачи.

Примечание. Шахматный конь ходит буквой «Г».

In [ ]:
x1, y1 = int(input()), int(input())
x2, y2 = int(input()), int(input())
if ((x1 - x2 == 1) or (x1 - x2 == -1)) and ((y1 - y2 == -2) or (y1 - y2 == 2)):
  print("YES")
elif ((x1 - x2 == 2) or (x1 - x2 == -2)) and ((y1 - y2 == -1) or (y1 - y2 == 1)):
   print("YES")
else:
  print("NO")

1
1
8
8
NO

**Ход ферзя**
Даны две различные клетки шахматной доски. Напишите программу,  которая определяет, может ли ферзь попасть с первой клетки на вторую одним ходом. Программа получает на вход четыре числа от 1 до 8 каждое, задающие номер столбца и номер строки сначала для первой клетки, потом для второй клетки. Программа должна вывести «YES», если из первой клетки ходом ферзя можно попасть во вторую или «NO» в противном случае.

Формат входных данных
На вход программе подаётся четыре числа от 1 до 8.

Формат выходных данных
Программа должна вывести текст в соответствии с условием задачи.

Примечание. Шахматный ферзь ходит по диагонали, горизонтали или вертикали.

In [ ]:
x1, y1 = int(input()), int(input())
x2, y2 = int(input()), int(input())
if x1 == x2  or y1 == y2:
  print("YES")
elif (x1 - y1) == (x2 - y2) or (x1 + y1) == (x2 + y2):
  print("YES")
else:
  print("NO")

1
1
2
2
YES

Две старушки
Две старушки идут навстречу друг другу с постоянными скоростями V 1 и V 2 км/ч. Определите, через какое время (в часах) старушки встретятся, если расстояние между ними равно
S км.

Пусть v1 и v2 - скорости первого и второго объекта соответственно. Тогда общая скорость движения будет равна v = v1 + v2.

Пусть s - путь, который нужно пройти, чтобы объекты встретились. Тогда время движения будет равно t = s / v.

In [ ]:
s = float(input())
v1 = float(input())
v2 = float(input())
v1_v2 = v1 + v2
t = s / v1_v2
print(t)

**Обратное число**
Напишите программу, которая считывает с клавиатуры одно число и выводит обратное ему. Если при этом введённое с клавиатуры число – ноль, то вывести «Обратного числа не существует» (без кавычек).
Обратное число - 1 поделить на это число, или число в -1 степени

In [ ]:
x = float(input())
if x == 0:
  print("Обратного числа не существует")
elif x != 0:
  print(1 / x)

-55.66
-0.017966223499820338

451 градус по Фаренгейту
У известного американского писателя Рэя Бредбери есть роман «451 градус по Фаренгейту». Напишите программу, которая определяет, какой температуре по шкале Цельсия соответствует указанное значение по шкале Фаренгейта.

Используйте формулу для перевода:

Формат входных данных
На вход программе подаётся вещественное число градусов по шкале Фаренгейта.

Формат выходных данных
Программа должна вывести число градусов по шкале Цельсия.

In [ ]:
f = float(input())
c = 5 / 9 * (f - 32)
print(c)

450.55
232.5277777777778

Dog age
На вход программе подается число
�
n – количество собачьих лет. Напишите программу, которая вычисляет возраст собаки в человеческих годах по следующему алгоритму: в течение первых двух лет собачий год равен
10.5
10.5 человеческим годам, после этого каждый год собаки равен
4
4 человеческим годам.

Формат входных данных
На вход программе подаётся натуральное число – количество собачьих лет.

Формат выходных данных
Программа должна вывести возраст собаки в человеческих годах.

In [ ]:
n = int(input())
if n == 1:
  print(10.5)
elif n == 2:
  print(21)
elif n > 2:
  print(21 + (n - 2) * 4)

3
25

Первая цифра после точки
Дано положительное действительное число. Выведите его первую цифру после десятичной точки.
Выглядело страшней чем есть на самом деле. Решила в 4 строки.

а=флоат от инпута

б=инт от а*10 избавились от хвоста

с=б%10 узнали последнее число

принт с

In [ ]:
x = float(input())
a = x * 10
b = int(a % 10)
print(b)

33.444
4

In [ ]:
x = float(input())
print(x % 1)

44.55
0.5499999999999972

In [ ]:
print(max(1, 3, -5, 7) + min(-3, 6, -8, -1) + abs(-17))

16

In [ ]:
a = int(input())
b = int(input())
c = int(input())
if a == max(a,b,c) and b == min(a, b, c):
  print(a)
  print(c)
  print(b)
elif a == max(a,b,c) and c == min(a,b,c):
  print(a)
  print(b)
  print(c)
elif b == max(a,b,c) and a == min(a, b, c):
  print(b)
  print(c)
  print(a)
elif b == max(a,b,c) and c == min(a,b,c):
  print(b)
  print(a)
  print(c)
elif c == max(a,b,c) and a == min(a,b,c):
  print(c)
  print(b)
  print(a)
elif c == max(a,b,c) and b == min(a,b,c):
  print(c)
  print(a)
  print(b)

132
129
135
135
132
129

Интересное число
Назовем число интересным, если в нем разность максимальной и минимальной цифры равняется средней по величине цифре. Напишите программу, которая определяет, интересное число или нет. Если число интересное, следует вывести «Число интересное», иначе - «Число неинтересное».

In [ ]:
x = int(input())
hund = (x % 1000)//100
tens = (x % 100)//10
ones = x % 10
if (max(hund, tens, ones) - min(hund, tens, ones)) == (hund + tens + ones) - (max(hund, tens, ones)+min(hund, tens, ones)):
  print("Число интересное")
else:
  print("Число неинтересное")

945
Число интересное

**Три города**
Даны названия трех городов. Напишите программу, которая определяет самое короткое и самое длинное название города.

Формат входных данных
На вход программе подаётся названия трех городов, каждое на отдельной строке.

Формат выходных данных
Программа должна вывести самое короткое и длинное название города, каждое на отдельной строке.

Примечание. Гарантируется, что длины названий всех трех городов различны

In [ ]:
a = input()
b = input()
c = input()
if len(a) < len(b) and len(a) < len(c):
  print(a)
elif len(b) < len(a) and len(b) < len(c):
  print(b)
elif len(c) < len(a) and len(c) < len(b):
  print(c)
if len(a) > len(b) and len(a) > len(c):
  print(a)
elif len(b) > len(a) and len(b) > len(c):
  print(b)
elif len(c) > len(a) and len(c) > len(b):
  print(c)

Париж
Леон
Марсель
Леон
Марсель

**Арифметические строки**
Вводятся
3
3 строки в случайном порядке. Напишите программу, которая выясняет, можно ли из длин этих строк построить арифметическую прогрессию.

Формат входных данных
На вход программе подаются три строки, каждая на отдельной строке.

Формат выходных данных
Программа должна вывести строку «YES», если из длин введенных слов можно построить арифметическую прогрессию, или «NO» - в противном случае.

Примечание. Почитать про арифметическую прогрессию можно по ссылке.

In [ ]:
a, b, c = len(input()), len(input()), len(input())
if (2*b - c - a) * (2*c - b - a) * (2*a - b - c) == 0:
  print("YES")
else:
  print("NO")

adc
s
asdcd
YES

#**МОДУЛЬ MATH**

На плоскости евклидово расстояние между двумя точками

*  Напишите программу определяющую евклидово расстояние между двумя точками, координаты которых заданы.

* На вход программе подается четыре вещественных числа, каждое на отдельной строке –

* Формат выходных данных
Программа должна вывести одно число – евклидово расстояние.

![image.png]()

In [4]:
x1, y1 = float(input()), float(input())
x2, y2 = float(input()), float(input())
from math import sqrt
p = sqrt(((x1 - x2) ** 2) + ((y1 - y2) ** 2))
print(p)

2.9
2.5
100
44.155
105.65769742427666

**Площадь и длина**
* Напишите программу определяющую площадь круга и длину окружности по заданному радиусу R.

* Формат входных данных
На вход программе подается одно вещественное число R​.

* Формат выходных данных
Программа должна вывести два числа – площадь круга и длину окружности радиуса

In [5]:
R = float(input())
from math import pi
S = pi * (R ** 2)
C = 2 * (pi * R)
print(S)
print(C)

554.6
966294.7126386268
3484.654571361799

**Средние значения**
![image.png]()

In [7]:
a, b = float(input()), float(input())
# среднее арифмитическое
sr1 = (a+b)/2
# среднее геометрическое
from math import sqrt
sr2 = sqrt(a*b)
# среднее гармоническое
sr3 = (2 * a * b) / (a + b)
# средне квадратичное
sr4 = sqrt((a**2 + b**2)/2)
print(sr1)
print(sr2)
print(sr3)
print(sr44)

35.1
40.3
37.7
37.61023796787252
37.52068965517241
37.78954881974644

Перевети угол в радианы и посчитать тригонометрическое  выражение

In [8]:
x = float(input())
from math import radians, sin, cos, tan
x_rad = radians(x)
a = sin(x_rad) + cos(x_rad) + tan(x_rad)**2
print(a)

30.0
1.6993587371177719

**Пол и потолок**

Напишите программу, вычисляющую значение

⌈x⌉ +⌊x⌋ по заданному вещественному числу

Формат входных данных
На вход программе подается одно вещественное число

Формат выходных данных
Программа должна вывести одно число – значение указанного выражения.

In [9]:
#квадратные скобки, закрывающиеся сверху - это потолок, снизу пол
x = float(input())
from math import ceil, floor
a = ceil(x) + floor(x)
print(a)

5.5
11

In [10]:
a, b, c = float(input()), float(input()), float(input())
from math import sqrt

#найти дискриминант по формуле
D = (b**2) - (4*a*c)

#если D меньше нуля вывести нет корней, если больше - по формуле, если равно по формуле
if D < 0:
  print("Нет корней")
elif D > 0:
  x1 = (-b + sqrt(D))/(2*a)
  x2 = (-b - sqrt(D))/(2*a)
  print(min(x1,x2), max(x1,x2))
elif D == 0:
  x3 = -(b/(2*a))
  print(x3)

1
2
1
-1.0

**Правильный многоугольник**
Правильный многоугольник — выпуклый многоугольник, у которого равны все стороны и все углы между смежными сторонами. Площадь правильного многоугольника с длиной стороны a и количеством сторон n вычисляется по формуле:

* Даны два числа: **натуральное число
n и вещественное число a**. Напишите программу, которая находит площадь указанного правильного многоугольника.

Формат входных данных
На вход программе подается два числа
n и a, каждое на отдельной строке.

Формат выходных данных
Программа должна вывести вещественное число – площадь многоугольника.

In [13]:
n = int(input())
a = float(input())
from math import pi, tan
S = (n * a**2) / (4 * tan(pi/n))
print(S)

3
2.0
1.7320508075688779

# ***ЦИКЛЫ***